body{
    margin: 0%;
}

.logosize{
    height: 70px;
}
nav{
    font-size: 18pt;
}

.first-div{
    height: 150px;
    width: 100%;
    background: rgb(241,192,247);
    background: linear-gradient(90deg, rgba(241,192,247,1) 0%, rgba(164,241,162,1) 100%);
    border-radius: 50%;
    margin-top: 20px;
    text-align: center;
}

@media  screen and (max-width: 700px) {
    .first-div{
        height: 300px;
    }
}

.emt{
    height: 100px;
    border: 2px solid gray;
}

.multi{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 55px;
   font-variant: small-caps;
   
}

.child{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    
}

.first{
    transition: 1s;
    cursor: pointer;
}

.first:hover{
    box-shadow: 0px 0px 3px 3px rgb(175, 173, 173);
    border-radius: 10%;
    transform: scale(1.1);
}

.headding{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.ourvalue{
    text-decoration: underline wavy rgb(63, 141, 63);

}

.we{
    color: rgb(209, 27, 233);
}

.paragraph{
    text-align: center;
    font-size: 20px;
}

.img{
    height: 70px;
}

.values{
    background: rgb(241,192,247);
    background: linear-gradient(90deg, rgba(241,192,247,1) 0%, rgba(164,241,162,1) 100%);
}

.mission{
    color: rgb(53, 131, 50);
}

.multilevel{
    text-align: center;
}

.image{
    height: 350px;
    width: 350px;
}

.last-class{
    height: 290px;
    width: 650px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: rgb(241,192,247);
    background: linear-gradient(90deg, rgba(241,192,247,1) 0%, rgba(164,241,162,1) 100%);
}

@media  screen and (max-width: 1002px) {
    .last-class{
        margin-left: 0px;
    }
}

.join-us{
    text-align: center;
    font-size: 20px;
}

@media  screen and (max-width: 700px) {
    .join-us{
        width: 70px;
    }
}

.submit{
    transition: 1s;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px gray;
}

.submit:hover{
    box-shadow: 0px 0px 4px 4px rgb(145, 144, 144);
    border-radius: 10%;
    transform: scale(1.1);
}

.last-head{
    background: rgb(241,192,247);
    background: linear-gradient(90deg, rgba(241,192,247,1) 0%, rgba(164,241,162,1) 100%);
}